<form action="" (submit)="enviarProduto()">
    <label for="">Nome do produto:</label>
    <input type="text" name="nomeProduto" [(ngModel)]="nomeProduto">

    <label for="">Descrição do produto:</label>
    <input type="text" name="descricaoProduto" [(ngModel)]="descricaoProduto">

    <label for="">Valor do produto:</label>
    <input type="text" name="valorProduto" [(ngModel)]="valorProduto">

    <button type="submit">Enviar</button>
</form>

<ul *ngFor="let produto of listaRecebida">
    <li>{{produto.nome}}</li>
    <li>{{produto.descricao}}</li>
    <li>{{produto.valor}}</li>
</ul>
